@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change the white to any color */
.login input[type="text"],
.login input[type="password"] {
  background-color: #f8f9f0 !important;
  height: 50px !important;
  padding: 16px 12px;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f8f9f0 inset !important;
}

